.App {
  text-align: center;
  padding: 20px 20px 200px 20px;
  /* box-shadow: 0px 0px 5px grey; */
  /* margin: -20px 20px; */
  /* box-shadow: 0px 0px 549px inset black; */
  transition:1s;
}
.App:hover {
  box-shadow:0px 400px 549px inset rgba(0, 0, 0, 0.824);
}

.App-header {
  background-color:#263519ed;
  padding: 2px 0px 2px 0px;
  color: #c6b39f;
  /* margin-bottom: 20px; */
  text-align: center;
  box-shadow: 0px 2px 22px #354829;

}

.App-title {
  font-size: 2.5em;
  /* position: relative; */
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

 

table {
  width: 100%;
  text-align: center;
  text-shadow:0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px 10px;
  color:white;
  box-shadow:0px 0px 5px black;
}

th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px 10px;
}

td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px 10px;
}

tr {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px 10px;
}

tfoot {
   background-color: green;
  width: 100%;
  border: none;
}

tfoot tr {
  border: none;
  background-color: green;
}

tfoot td {
  border: none;
  background-color: #354829;
}

th {
  padding: 15px 10px;
  background-color: #354829;
}

tr:nth-child(odd) {
  background-color: #c6b39f;
}

tr:nth-child(even) {
  background-color: #e99b44;
}

input {
  margin-right: 10px;
  border-radius: 5px;
}

input:not(.commentInput, .deleteButton) {
  width: 250px;
}

.commentInput {
  width: 250px;
}

button {
  cursor: pointer;
  border: 0px solid grey;
  border-radius: 7px;
  box-shadow: 0px 1px 5px #7f7f7f;
  font-weight: bold;
}

button:hover:not(.headerButton, .deleteButton) {
  outline: 1px solid black;
}

button:active:not(.headerButton, .deleteButton) {
  outline-offset: 5px;
  font-style: italic;
  box-shadow: -2px 2px 4px grey;
}

.aboveInput {
  position: absolute;
  transform: translate(0px, -30px);
  color: #c6b3a0;
  text-shadow: 0px 0 14px black, 0px 0 14px black, 0px 0 14px black,0px 0 14px black, 0px 0 14px black, 0px 0 14px black;

}

.allForms {
  position: relative;
  margin: auto;
}

input {
  border: none;
  border-bottom: 2px solid black;
  padding: 5px 5px;
  font-size: 18px;
  margin: 0px 10%;
  box-shadow:    0px 0 14px black, 0px 0 14px black;

}

label {
  margin: 0px 9.5%;
}

input:focus {
  outline: 1px solid rgba(55, 55, 55, .5);
  border-bottom: 2px solid #303ea0;
}

input:active {
  outline: 1px solid rgba(55, 55, 55, .5);
  outline-offset: 3px;
  border-bottom: 2px solid #303ea0;
}

.makeSpace {
  margin: 0px 0px 100px 0px;
  color: #c6b3a0;
  text-shadow: 0px 0 14px black, 0px 0 14px black, 0px 0 14px black,0px 0 14px black, 0px 0 14px black, 0px 0 14px black;

}

.makeSpaceSurvey {
  margin: 0px 0px 100px 0px;
  color: #c6b3a0;
  text-shadow: 0px 0 14px black, 0px 0 14px black, 0px 0 14px black,0px 0 14px black, 0px 0 14px black, 0px 0 14px black;

}

button:not(.reviewSubmit, .headerButton, .deleteButton) {
  padding: 10px 20px;
  transform: translate(0px, -5px);
  border: 2px solid black;

}

.reviewSubmit {
  padding: 10px 20px;
  background-image: linear-gradient(to bottom, orange, transparent);
  border: 3px solid black;
}

.headerButton {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 12px !important;
  padding: 5px 10px !important;
}

.hidePrevious {
  position: absolute;
  text-align:center;
  font-size:20px;
  top: 0;
  left: 0;
  padding: 25px 30px;
  background-color: #c7833a;
  box-shadow: 0px 0px 15px inset black;
  border-radius:0px 15px 15px 0px;
  z-index: 2;
  color:whitesmoke;
}

.deleteButton {
  background-color: white;
}

.deleteButton:hover {
  outline: 2px solid black;
}

.deleteButton:active {
  outline-offset: 2px;
}

.deleteRow {
  text-align: center;
}

@media screen and (max-width:750px) {
  #resultsText {
    font-size: 30px;
  }
  #decoration {
    font-size: 50px !important;
    bottom: 10px !important;
  }
}

@media screen and (max-width:600px) {
  .App {
    text-align: center;
    padding: 9px 5px 0px 5px;

    /* box-shadow: 0px 0px 5px grey; */
    /* margin: -19px 0px; */
  }
  body {
    background-position-x: -100px;
  }
  table {
    padding:150px;
    font-size:15px;

  }
  .hideSmall {
    display:none;
  }
  th {
    padding: 15px 0px;
    /* overflow: scroll; */
  }
  table th:last-child, table tr:last-child, table:last-child {
    border:none;
    
  }
 

  .App-header {
    width: 105%;
    margin-left: -22px;
    margin-top: -10px;
  }
  .headerButton {
    left: 10px;
  }
  .tooltip .tooltiptext {
    width: 120px;
  }

  .hidePrevious {
    padding:10px;
  }
  .headerButton {
    display: none;
  }
}

#fbResults {
  margin: auto;
  width: 75%;
  text-align: center;
  margin-bottom: 25px;
  padding: 30px;
  border: 1px solid black;
  position: relative;
}

#decoration {
  position: absolute;
  left: 10px;
  font-size: 100px;
  bottom: -10px;
  color: black;
  animation-name: starSpin;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

#resultsText {
  animation-name: wiggly;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
  display: block;
}

@keyframes starSpin {
  0% {
    transform: rotate(0deg);
    color: black;
  }
  25% {
    transform: rotate(180deg);
    color: yellow;
  }
  75% {
    transform: rotate(360deg);
    color: green;
  }
  100% {
    transform: rotate(0deg);
    color: black;
  }
}

@keyframes wiggly {
  0% {
    transform: translate(0, 0) rotate(0deg);
    color: black;
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
    color: #033076;
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
    color: black;
    letter-spacing: 2px;
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
    color: #033076;
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
    color: black;
  }
}

.flaggedFeedback {
  opacity: .8;
  outline: 2px solid red;
  background-color: #de9c9c !important;
  outline-offset: -1px;
}

.theFlag {
  font-size: 20px;
}

.flaggedFeedback .theFlag {
  color: red;
}

.notFlaggedFeedback .theFlag {
  color: green;
}

.notFlaggedFeedback {
  background-color: "";
  opacity: 1;
  outline: "";
  outline-offset: "";
}

.tooltip {
  position: relative;
  border-bottom: 1px dotted black;
  cursor: help;
}

.tooltip .tooltiptext {
  visibility: hidden;
  opacity: 0.7;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  transform: translate(-9px, -73px);
  z-index: 1;
  font-size: 13px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

form h1, form p {
  color: #c6b3a0;
  text-shadow: 0px 0 14px black, 0px 0 14px black, 0px 0 14px black,0px 0 14px black, 0px 0 14px black, 0px 0 14px black;

}
form p {
  font-size: 35px;
  font-style: italic;
}
form h1 {
  text-decoration: underline;
}
form button, .makeSpaceSurvey {
   background-image: linear-gradient(to bottom, orange, transparent);
  border:1px solid black;
  }
form button:hover {
  font-style: italic;
}
table td {
padding:20px;
}

.newSurveyBtn {
  color: #c6b3a0;
  text-shadow: 0px 0 14px black, 0px 0 14px black, 0px 0 14px black,0px 0 14px black, 0px 0 14px black, 0px 0 14px black;

}
 .makeSpaceSurvey {
  padding: 10px 20px;
  background-image: linear-gradient(to bottom, orange, transparent);
  border: 3px solid black;
  color: black;
  text-shadow: none;
 }
 .makeSpaceSurvey:hover {
  font-style: italic;
 }