.App {
  text-align: center;
  padding: 20px;
  box-shadow: 0px 0px 5px grey;
  margin: -20px 20px;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;

}

input {
  margin-right: 10px;
}

input:not(.commentInput) {
  width: 250px;
}

.commentInput {
  width: 250px;
}

button {
  cursor: pointer;
  border: 0px solid grey;
  border-radius: 7px;
  box-shadow: 0px 1px 5px #7f7f7f;
  font-weight: bold;
}

button:hover:not(.headerButton) {
  outline: 1px solid black;
}

button:active:not(.headerButton) {
  outline-offset: 5px;
  font-style: italic;
  box-shadow:-2px 2px 4px grey;
  /* border: 1px solid black; */
  /* transform: translate(0px, -6px) !important; */

}

.aboveInput {
  position: absolute;
  transform: translate(0px, -30px);
  color: #303ea0;

}

.allForms {
  position: relative;
  margin: auto;
}

input {
  border: none;
  border-bottom: 2px solid black;
  padding: 5px 5px;
  font-size: 18px;
  margin: 0px 10%;

}

label {
  margin: 0px 9.5%;

}

input:focus {
  outline: 1px solid rgba(55, 55, 55, .5);
  border-bottom: 2px solid #303ea0;
}

input:active {
  outline: 1px solid rgba(55, 55, 55, .5);
  outline-offset: 3px;
  border-bottom: 2px solid #303ea0;
}

.makeSpace {
  margin: 0px 0px 100px 65px;
}

button:not(.reviewSubmit, .headerButton) {
  padding: 10px 20px;
  transform: translate(0px, -5px);
}

.reviewSubmit {
  padding: 10px 20px;

}

.headerButton {
  position: absolute;
  left:20px;
  top:20px;
  font-size: 12px !important;
  padding:5px 10px !important;
}
.hidePrevious {
  position: absolute;
  top:0;
  left:0; 
  width:45px;
  padding:50px;
  font-size: 50px;
  background-color:#033076;
  z-index: 2;
}