.App {
  text-align: center;
  padding: 20px 20px 300px 20px;
  box-shadow: 0px 0px 5px grey;
  margin: -20px 20px;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

table {
  width: 100%;
  text-align: left;
  /* margin-bottom:30px; */
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px 10px;
}

th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px 10px;
}

td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px 10px;
}

tr {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px 10px;
}

tfoot {
  height: 60px;
  background-color: #ececec;
  width: 100%;
  border: none;
}

tfoot tr {
  border: none;
  background-color: #ececec;
}

tfoot td {
  border: none;
  background-color: #ececec;
}

th {
  padding: 15px 10px;
  background-color: #cccccc;
}

tr:nth-child(odd) {
  background-color: #ececec;
}

input {
  margin-right: 10px;
}

input:not(.commentInput, .deleteButton) {
  width: 250px;
}

.commentInput {
  width: 250px;
}

button {
  cursor: pointer;
  border: 0px solid grey;
  border-radius: 7px;
  box-shadow: 0px 1px 5px #7f7f7f;
  font-weight: bold;
}

button:hover:not(.headerButton, .deleteButton) {
  outline: 1px solid black;
}

button:active:not(.headerButton, .deleteButton) {
  outline-offset: 5px;
  font-style: italic;
  box-shadow: -2px 2px 4px grey;
  /* border: 1px solid black; */
  /* transform: translate(0px, -6px) !important; */

}

/* FIX THIS */
.aboveInput {
  position: absolute;
  transform: translate(0px, -30px);
  color: #303ea0;

}

/* FIX THIS */
.allForms {
  position: relative;
  margin: auto;
}

input {
  border: none;
  border-bottom: 2px solid black;
  padding: 5px 5px;
  font-size: 18px;
  margin: 0px 10%;

}

label {
  margin: 0px 9.5%;

}

input:focus {
  outline: 1px solid rgba(55, 55, 55, .5);
  border-bottom: 2px solid #303ea0;
}

input:active {
  outline: 1px solid rgba(55, 55, 55, .5);
  outline-offset: 3px;
  border-bottom: 2px solid #303ea0;
}

.makeSpace {
  margin: 0px 0px 100px 65px;
}

.makeSpaceSurvey {
  margin: 0px 0px 100px 0px;

}

button:not(.reviewSubmit, .headerButton, .deleteButton) {
  padding: 10px 20px;
  transform: translate(0px, -5px);
}

.reviewSubmit {
  padding: 10px 20px;

}

.headerButton {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 12px !important;
  padding: 5px 10px !important;
}

.hidePrevious {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  padding: 50px;
  font-size: 50px;
  background-color: #033076;
  z-index: 2;
}

.deleteButton {
  background-color: white;
}

.deleteRow {
  text-align: center;
}

@media screen and (max-width:750px) {
  #resultsText {
    font-size: 30px;
  }

  #decoration {
    font-size: 50px !important;
    bottom: 10px !important;

  }
}

@media screen and (max-width:600px) {
  .App {
    text-align: center;
    padding: 9px 0px 300px 0px;
    box-shadow: 0px 0px 5px grey;
    margin: -19px 0px;

  }

  table,
  td {
    padding: 10px 2px;

  }

  th {
    padding: 15px 2px;
  }

  body {
    padding: 20px;
  }

  .App-header {
    width: 105%;
    margin-left: -22px;
    margin-top: -25px;

  }

}

#fbResults {
  margin: auto;
  width: 75%;
  text-align: center;
  margin-bottom: 25px;
  padding: 30px;
  border: 1px solid black;
  position: relative;
}


#decoration {
  position: absolute;
  left: 10px;
  font-size: 100px;
  bottom: -10px;
  color: black;
  animation-name: starSpin;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

#resultsText {
  animation-name: wiggly;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
  display: block;

}

@keyframes starSpin {
  0% {
    transform: rotate(0deg);
    color: black;
  }

  25% {
    transform: rotate(180deg);
    color: yellow;
  }

  75% {
    transform: rotate(360deg);
    color: green;
  }

  100% {
    transform: rotate(0deg);
    color: black;
  }
}

@keyframes wiggly {
  0% {
    transform: translate(0, 0) rotate(0deg);
    color: black;
  }

  25% {
    transform: translate(5px, 5px) rotate(5deg);
    color: #033076;

  }

  50% {
    transform: translate(0, 0) rotate(0eg);
    color: black;
    letter-spacing: 2px;


  }

  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
    color: #033076;

  }

  100% {
    transform: translate(0, 0) rotate(0deg);
    color: black;

  }


}